<%= link_to "Bladesmiths Index", "/blade_smiths" %><br>
<%= link_to "Blades Index", "/blades" %><br>
<%= link_to "Blades by #{@blade_smith.name}", "/blade_smiths/#{@blade_smith.id}/blades" %>

<h1><%= @blade_smith.name %></h1>
<p>State: <%= @blade_smith.state %></p>
<p>Model count: <%= @blade_smith.model_count %></p>
<p>Average yearly output: <%= @blade_smith.avg_yearly_output %></p>
<p>Forges blades by hand?: <%= @blade_smith.hand_forger %></p>
<p>Created at : <%= @blade_smith.created_at %></p>
<p>Updated at: <%= @blade_smith.updated_at %></p>
<p>Blade Simth ID : <%= @blade_smith.id %></p>
<%= link_to "Update Bladesmith", "/blade_smiths/#{@blade_smith.id}/edit" %>
